<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine On
RewriteBase /appweb_caba_2c_2024/B-Grupo2/App_web_CABA_Grupo2_Diario_Digitalv01/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>